DOMAIN_NAME=zpiarova.42.fr
DB_NAME=wordpress
DATA_DIR=/home/zpiarova/data

DB_USER
DB_PASSWORD
MYSQL_ROOT_PASSWORD

WORDPRESS_USER
WORDPRESS_USER_EMAIL
WORDPRESS_USER_PASSWORD

WORDPRESS_ADMIN_USER
WORDPRESS_ADMIN_EMAIL
WORDPRESS_ADMIN_PASSWORD

REDIS_PASSWORD

FTP_USER
FTP_PASSWORD